* {
    box-sizing: border-box;
}
body {
    background:tomato;
    height:100%;
    margin:0;
}
nav {
    position: relative;
    width: 100%;
    height: 10vh;
}
.content {
    position: absolute;
    top: 0;
    right: 0;
    width: 30vh;
    height: 100%;
    margin-right: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.nav-box {
    margin-left: 20px;
}
li,p {
    line-height: 2.0;
    font-size:0.9em;
}
.container {
    position:absolute;
    left:50%;
    margin-left:-450px;
    width:900px;
    height:100%;
    background:#fff;
}
aside {
    float:left;
    width:300px;    
    padding:20px 50px;
    height:100%;
    background:yellow;
}
.pf {
    border-radius:10%;
    box-shadow:3px 3px 10px 2px #222;

} 
#detail {
    position: relative;
    top:30px;
}
#main {
    float:right;
    width:600px;
    height:100%;
    padding:20px;
}

#main > section {
    width:500px;
    padding:20px;
    margin:10px;
    border-bottom:1px dotted #222;
}

section > p {
    margin-left:50px;
}

aside h1 {
    font-size:2em;
    font-variant: small-caps;
}
aside h2 {
    font-size:1.5em;
}
#namecard p {
    font-size:0.9em;
    color:rgb(73, 73, 73);
}

.subtitle {
    font-size:1.7em;
    line-height:0.9em;
    font-family: 'Fira Sans', sans-serif;
}
section > p {
    font-size:0.9em;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Hahmlet', serif;
}